@import url('@sikt/sds-icons');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
}

.App,
.Data {
  display: flex;
  justify-content: center;
}

.App {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Wrap {
  height: 200px;
  width: 400px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  & .calendarIcon {
    font-size: 1.7rem;
  }
}

.Data {
  font-weight: bold;
  & li {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
  }
}

ul {
  list-style: none;
  & .clockIcon {
    display: flex;
    align-items: center;
  }
}
