@import url('@sikt/sds-icons');
@import url('@sikt/sds-tokens');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
}

.App,
.Data {
  display: flex;
  justify-content: center;
}

.App {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.Wrap {
  min-height: 200px;
  min-width: 400px;
  background-color: white;
  border: var(--sds-space-border-weight-thin) solid black;
  border-radius: var(--sds-space-border-radius-medium);
  padding-bottom: var(--sds-base-size-m);
}

.Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--sds-base-size-m);
  & .calendarIcon {
    font-size: 1.7rem;
  }
}

.Data {
  font-weight: bold;
  & li {
    display: flex;
    align-items: center;
    padding: var(--sds-space-padding-minimal);
    gap: var(--sds-space-gap-small);
  }
}

ul {
  list-style: none;
  & .clockIcon {
    display: flex;
    align-items: center;
  }
}
